<nav >
    <ul class="flex justify-center items-center gap-12">
        <li class=" flex justify-center items-center gap-2 cursor-pointer hover:text-fuchsia-200 transition-all duration-300 ease-in-out font-bold ">
           
        </li>

        <button
            [routerLink]="'/home'"
            routerLinkActive="router-link-active"
        >
            Home
        </button>
        <button
            [routerLink]="'/interplacion'"
            routerLinkActive="router-link-active"
        >
            Interpolación
        </button>
        <button
            [routerLink]="'/directivas'"
            routerLinkActive="router-link-active"
        >
            Directivas
        </button>
        <button
            [routerLink]="'/list_user'"
            routerLinkActive="router-link-active"
        >
            Listado user
        </button>
        <button
            [routerLink]="'/score'"
            routerLinkActive="router-link-active"
        >
            Score
        </button>
        <button
            [routerLink]="'/parent'"
            routerLinkActive="router-link-active"
        >
            Output - Input
        </button>
        <button
            [routerLink]="'/pipes'"
            routerLinkActive="router-link-active"
        >
            Pipes
        </button>

    </ul>
</nav>
