/* div {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
}

.title {
   background: linear-gradient(45deg, #5f2c82, #9a2a2a);
   width: 100%;
   text-align: center;
   color: #fff;
   padding: 30px;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   font-size: 50px;
   border-radius: 20px;
   box-shadow: 10px 10px 12px rgba(0, 0, 0, 0.5);
   transition: all 0.5s ease-in-out;
   cursor: pointer;
}

.title:hover {
   transform: translateY(-20px);
   transform: scale(1.1);
   width: 86%;
   background: linear-gradient(45deg, #a6119c, #5f2c82);
   box-shadow: 30px 40px 12px rgba(0, 0, 0, 0.5);
} */